<% if is_admin? %>
  <%= link_to "Add user", new_user_path, class: "button radius btn-green" %>
<% end %>
<h3>User list</h3>
<ul class="users">
  <%= will_paginate @employees, renderer: FoundationPagination::Rails %>
    <% @users.each do |user| %>
      <li><%= link_to "#{user.last_name} #{user.first_name}".titleize, user_path(user) %></li>
    <% end %>
  <%= will_paginate @employees, renderer: FoundationPagination::Rails %>
</ul>
