<% if is_admin? %>
  <%= link_to "Add user", new_user_path, class: "button btn-green" %>
<% end %>
<h3>User list</h3>
<ul class="users">
	<% @users.each do |user| %>
		<li><%= link_to "#{user.first_name} #{user.last_name}".titleize, user_path(user) %></li>
	<% end %>
</ul>
