<h3>Suspensions</h3>

<ul>
  <% @suspensions.each do |suspension| %>
    <li><%= link_to "#{suspension.employee.first_name} #{suspension.employee.last_name}", employee_event_path(suspension.employee, suspension.event) %></li>
<% end %>
</ul>
