/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */

// Colors

$light-blue: #0099FF;
$populus-green: #8DC63F;
$populus-green-dark: #77A832;
$alert-red: #f04124;
$snow: #F9F9F9;

.debugger {
  background: $populus-green;
  color: $snow;
  padding: 1em;
}

body {
	margin: 0;
  font-family: 'Lato', sans-serif;
}

ul {
	list-style: none;
	padding: 0.5em 0 0.5em 0;
        margin: 0;
	
}
 
a, a:visited, a:link {
	text-decoration: none;
	color: $populus-green;
}

input, label {
	display: block;
}

table {
  width: 100%;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.content {
	padding-top: 15px;
}

.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

 
#nav {
	background: $populus-green;
	padding: 2px;
	min-height: 60px;
		a, a:visited, a:link {
			color: #fff;
		}
		ul {
			width: 95%;
			margin: 0 auto;
			padding: 5px 5px 5px 0;
		}
		li {
			display: inline-block;
			padding: 10px;
			font-size: 1.2em;
			font-family: 'Oswald', sans-serif;
		}
		h3 {
			color: #fff;
			font-size: 1.3em;
			text-align: center;
		}
}

#side-nav {
	background: $populus-green-dark;
	padding: 2px;
		a, a:visited, a:link {
		color: #fff;
		}
		ul {
			width: 95%;
			margin: 0 auto;
			padding: 5px;
		}
		li {
			display: inline-block;
			padding: 10px;
			font-size: 1.1em;
			font-family: 'Oswald', sans-serif;
		}
}

.event {
	padding: 5px;
		p {
			padding: 3px;
			margin: 1px;
		}
		a {
			margin: 3px;
		}
}

#event-stats {
	li {
		display: inline-block;
		padding: 3px;
	}
}

.errors {
	li {
		color: #f04124;
	}
}

.active {
	border-bottom: 2px solid #fff;
}

.btn-green {
	 color: #fff !important;
}

.view {
	color: #fff !important;
}

.users {
	margin-left: -1px;
}

.unread {
	color: $alert-red !important;
}

.pagination {
  margin-bottom: 1em;
}

.employee-search {
  .columns {
    padding-left: 0;
  }
}

.employee-list {
  .columns {
    padding-left: 0;
  }
}

.employee-index-header {
  .columns {
    padding-left: 0;
  }
}

#search-form {
  input {
    display: inline-block;
  }
  a {
    color: #fff;
  }
}

#event-date-select {
  width: 50%;
}

.events-overview {
  p {
    padding: 0.5em;
    margin: 0;
  }
  span {
    font-weight: 600;
  }
}

.employee-show {
  p {
    padding: 0 0 0.5em 0;
    margin: 0;
  }
}

